html {
  font-size: 175%;
  font-weight: 300;
  line-height: 1.3;
}

body {
  font-family: "Gill Sans", sans-serif;
  background-color: #FFFAFA;
  height: 700px;
  text-align: center;
}

header {
  border-bottom: 1px solid grey;
  display: block;
  text-align: center;
  width: 100vw;
  height: 10vh;
  color: #FF69B4;
  position: sticky;
  z-index: 5;
}

.header-text1 {
  font-size: 42px;
  line-height: 0em;
  margin: 35px;
}

.header-text2 {
  font-size: 14px;
  line-height: 0em;
  color: grey;
}

.container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.container > p {
  text-align: center;
}

.calculator {
  border-radius: 12px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  max-width: 15em;
  overflow: hidden;
  font-family: "Gill Sans", sans-serif;
  border: 10px solid #ffff7f;
  z-index: 1;
}

.calculator__display {
  width: 405px;
  background-color: #D3D3D3;
  color: #696969;
  font-size: 40px;
  padding: 10px 40px;
  text-align: right;
  border: 10px solid #ffff7f;

}

.calculator__keys {
  background-color: #ffff7f;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.calculator__keys > * {
  background-color: aqua;
  border-radius: 4px;
  padding: 20px 10px;
  position: relative;
  text-align: center;
}

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before {
  background-color: #FF69B4;
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.key--operator {
  background-color: #A9A9A9;
}

.key--equal {
  background-color: #FFA500;
  grid-column: -2;
  grid-row: 2 / span 4;
}

.AC--button {
  background-color: #eee9e9;
}

